html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/************** Header ************/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 90%;
  padding: 20px;
}

.input-with-icon {
  
}

input#location {
  height: 50px;
  background-color: #eaeaea;
  width: 100%;
  border: none;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f3f3f3;
  padding-bottom: 40px;
  gap: 5px;
}

h1 {
  font-size: 24px;
}

.h2-header {
  font-weight: 100;
  font-size: 16px;
}

.buttonexploration {
  background: -o-linear-gradient(top, #ff93e1, #a16be0 80%);
  background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: white;
  width: 70%;
  height: 40px;
  font-size: 14px;
  position: relative;
  }

  /*********** Main ************/

.h2-fonctionnement {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  font-weight: 500;
}

h4 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 500;
}

p {
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

a {
  font-size: clamp(1.3rem, 2vw, 0.8rem);
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.new {
  position: relative;
}
.news::befores {
  content: "Nouveau";
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: 0.3125rem;
}


/************* Fonctionnement ****************/

.process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.btn {
  border-radius: 20px;
  width: 90%;
  height: 55px;
  border: none;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f6f6f6;
  transition: all .4s ease-in-out;
}

.fa-solid {
  margin-right: 20px;
  color: #7e7e7e;
}

.fa-solid.fa-ellipsis-vertical {
  margin-right: 2px;
}

.fa-solid.fa-store {
  color: #9356DC;
}

.fonctionnement-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.25rem;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  color: #fff;
  background-color: #9356dc;
}

/********* Restaurants *******/

.restaurant {
  padding: 2.125rem 0.25rem 2.5rem;
  background-color: #f3f3f3;
}
.main-restaurant h2 {
  margin-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .main-restaurant h2 {
    text-align: center;
  }
}

.img-card {
  height: 130px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.main-restaurant a {
  width: 100%;
  max-width: 40.625rem;
  height: 18.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 1.25rem 0;
  color: black;
}

.main-restaurant a figure {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-restaurant a p {
  font-weight: 300;
}


.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 3.125rem;
  margin: 0 auto;
  width: 100%;
  max-width: 125rem;
}

.card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  padding: 0.625rem 0.9375rem;
}

.card__info h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0px;
}
.p-card {
  margin-top: -3px;
  font-weight: 300;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

a.new {
  width: 100%;
  max-width: 40.625rem;
  height: 12.75rem;
  border-radius: 20px;
  margin: 1.25rem 0;
  background-color: white;
}
.card__info__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
  font-weight: 100;
}

.card__info__heart::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  position: absolute;
}

.card__info__heart::after {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  background: -o-linear-gradient(top, #FF79DA, #9356DC 80%);
  background: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
  opacity: 0;
  cursor: pointer;
}
.card__info__heart:hover::before {
  color: transparent;
}
.card__info__heart:hover::after {
  font-weight: 900;
  opacity: 1;
}

.footer{
  color: white;
  background-color: #353535;
  &__nav{
      margin: rem-calc(10) 0;
      @media screen and (min-width: 1300px) {
          display: flex;
          justify-content: center;
      }
      li{
          margin-bottom: rem-calc(3);
          @media screen and (min-width: 1300px) {
              margin: 0 rem-calc(40);
              display: flex;
          }
          /****&:nth-child(1)::before{
          //     content: '\f2e7';
          //     font-family: 'FontAwesome';
          //     margin-right: rem-calc(10);
          //     font-size: clamp(1.3rem, 2vw, 1.7rem); 
          // } *******/
          &:nth-child(2)::before{
              content: '\f4c4';
              font-family: 'FontAwesome';
              margin-right: rem-calc(10);
              font-size: clamp(1.3rem, 2vw, 1.7rem);
          }
          a{
              transition: color 0.4s ease-in-out;
              &:hover, &:focus{
                  /*color: $light-primary-color;*/
              }
          }
        }
      }
  } 

/*# sourceMappingURL=style.css.map */